.barreact {
    width: 50%;
}
.barhtml5 {
    width: 90%;
}

.barjs {
    width: 70%;
}

.barphp {
    width: 60%;
}

.barcss3 {
    width: 80%;
}
.pbarprogress {
    margin-top: 12px;
    margin-bottom: 0px;
}

.hero {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    opacity: 0.85;
}
#text_background {
    padding-top: 50vh;
}
