.barreact {
    width: 50%;
}
.barhtml5 {
    width: 90%;
}

.barjs {
    width: 70%;
}

.barphp {
    width: 60%;
}

.barcss3 {
    width: 80%;
}
.pbarprogress {
    margin-top: 12px;
    margin-bottom: 0px;
}
