@media screen and (max-width:425px) {
    .col {
        flex-basis:90%;
    }
    .sections {
        margin : 10% 10px 10% 10px;
        padding :5% 0% 5% 0%;
        
    }
}
 .sections {
        margin : 5% 10px 5% 10px;
        padding :3% 0px;
    }

    .contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}