.pfooter {
    margin: 0px;

}
#footer {
    justify-content: center;
    margin-top: 20%;
    padding-top:20px ;
    padding-bottom: 40px;

}
.iconefooter:hover {
    background-color: white;
    opacity: 75%;
}
.pfooter a {
    color: inherit;
    text-decoration: none;
}